---
---
<!-- Credits to @befelix for the script to manage publications page
Reference commit: https://github.com/befelix/webpage/commit/c81b110a2880d11bd496c4907df750742286d595 -->

<div class="reference" data-key="{{key}}">

  {{ reference }}
  {% if entry.note %}  
    {{entry.note}}
  {% endif %}
  <br>

  {% if entry.comment %}
  <div class="comment">
    <ul><li><b>{{ entry.comment }}</b></li></ul>
  </div>
  {% endif %}

  <!-- Add clickable toggles for bonus material -->
  <div class="links">
    <ul>
      {% if entry.abstract %}
        <li class="toggle" content="abstract">
          <a>Abstract</a>
        </li>
      {% endif %}

      <li class="toggle" content="bibtex">
        <a>BibTex</a>
      </li>

      {% if entry.urllink %}
        <li>
          <a href="{{ entry.urllink }}" target="_blank">PDF</a>
        </li>
      {% endif %}

      {% if entry.code %}
        <li>
          <a href="{{ entry.code }}" target="_blank">Code</a>
        </li>
      {% endif %}

      {% if entry.urlvideo %}
        <li>
          <a href="{{ entry.urlvideo }}" target="_blank">Video</a>
        </li>
      {% endif %}

      {% if entry.pitch %}
        <li>
          <a href="{{ entry.pitch }}" target="_blank">Pitch</a>
        </li>
      {% endif %}
    </ul>
  </div>

  <!-- Add bonus material -->
  <div class="materials">

    {% if entry.abstract %}
   <!-- Has to be a div to avoid jumpy problem using JQuery's slideToggle function
    See: https://stackoverflow.com/questions/1335461/jquery-slide-is-jumpy/8596292#8596292 -->
    <div class="abstract toggle" content="abstract">
      {{entry.abstract}}
      <br>
      <a class="mobile-only mobile-close">Close</a>
    </div>
    {% endif %}

    {% if entry.bibtex %}
      <pre class="bibtex">{{      entry.bibtex}}</pre>
    {% endif %}
  </div>
</div>